.vscode/**
.vscode-test/**
.github/**
.claude/**
src/**
webview/**
webview-dist/index.html
.gitignore
.yarnrc
.fossa.yml
DEVELOPMENT.md
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
test/**
